
h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.navbar.navbar-databros {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgb(222, 226, 230);
}

.wrapper{
    display: flex;
}

.card{
    height: 100%;
}

.cards{
    display: flex;
}

.section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left.section p{

    margin: 20px 30px;
}

.left.section h1{
    margin-bottom: 30px;
}

.price{
    color: green;
}

.left.section .card p{

    margin: 0px;
    margin-top: 10px;
}

.right.section h1{
    margin: 20px;
}

.category-show img.graph{

    max-width: 350px;
    margin: 20px 0;
}

.singleItemPageImg{
    width: 250px;
    margin-bottom: 60px;
}

.singleItemPageGraph{
    width: 240px;
}

.singleItemPageBtn {
    width: 170px;
}

.singleItemPageContainer {
    text-align:center;

}